* {
  margin: 0;
  padding: 0;
}
.container-menu {
  padding: 20px 15%;
}
.container-menu .home {
  display: flex;
  gap: 20px;
}
.container-menu .home a {
  font-size: 25px;
  text-decoration: none;
  color: #005ac8;
  align-items: center;
}

.container-menu .card {
  margin: 30px 0;
  display: flex;
}
.container-menu .card .column-left {
  width: 25%;
  order: 1;
}
.container-menu .card .column-right {
  width: 75%;
  order: 2;
}
.container-menu .card .column-left .card {
  display: flex;
  flex-direction: column;
}
.container-menu .card .column-left .card .card-head {
  text-align: center;
  background: linear-gradient(90deg, #06b4fc 0%, #1296f4 100%);
  color: white;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}
.container-menu .card .column-left .card .card-head h2 {
  font-size: 30px;
}
.container-menu .card .column-left .card .card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #3245e1;
  border-radius: 0 0 10px 10px;
  height: 300px;
  justify-content: space-around;
}
.container-menu .card .column-left .card .card-body a {
  text-decoration: none;
  color: #0ca6f9;
  font-weight: 900;
  font-size: 23px;
}

.container-menu .card .column-right .card {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.container-menu .card .column-right .card .card-head,
.card-body {
  padding: 0 20px;
}
.container-menu .card .column-right .card .card-head {
  text-align: center;
  background: linear-gradient(90deg, #1393f4 0%, #3244e0 100%);
  color: white;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}
.container-menu .card .column-right .card .card-head h2 {
  font-size: 30px;
}
.container-menu .card .column-right .card .card-body {
  border: 2px solid #3245e1;
  border-radius: 0 0 10px 10px;
}
.container-menu .card .column-right .card .card-body .form-group {
  position: relative;
  padding: 20px;
}
.container-menu .card .column-right .card .card-body .form-group input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #2172ec;
  z-index: 3;
  background-color: transparent;
}
.container-menu .card .column-right .card .card-body .form-group .text {
  position: absolute;
  z-index: -1;
  left: 25px;
  top: 30px;
  color: #aaaaaa;
  transition: all 0.5s;
}
.container-menu
  .card
  .column-right
  .card
  .card-body
  .form-group
  input:focus
  + .text {
  transform: translateY(-15px);
}
.container-menu .card .column-right .card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Mengatur tombol ke pojok kanan */
}

.container-menu .card .column-right .card .card-body form button {
  padding: 10px 13px;
  align-self: flex-end;
  margin: 20px 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #1bbea1;
  color: white;
  transition: all 0.5s;
  border: none;
}
.container-menu .card .column-right .card .card-body form button:hover {
  background-color: #108d76;
}

@media screen and (max-width: 770px) {
  .container-menu .card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }
  .container-menu .card .column-left {
    width: 100%;
    order: 1;
  }
  .container-menu .card .column-right {
    width: 100%;
    order: 2;
  }
  .container-menu .card .column-left .card {
    display: flex;
    flex-direction: row;
  }
  .container-menu .card .column-left .card .card-head {
    text-align: center;
    background: linear-gradient(90deg, #06b4fc 0%, #1296f4 100%);
    color: white;
    padding: 10px 0;
    border-radius: 10px 0 0 10px;
  }
  .container-menu .card .column-left .card .card-head h2 {
    font-size: 25px;
    padding: 10px;
  }
  .container-menu .card .column-left .card .card-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    border: 2px solid #3245e1;
    border-radius: 0 10px 10px 0;
    height: auto;
    justify-content: space-around;
  }
  .container-menu .card .column-left .card .card-body a {
    text-decoration: none;
    color: #0ca6f9;
    font-weight: 900;
    font-size: 17px;
  }
  .container-menu .card .column-right .card {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
}
@media screen and (max-width: 430px) {
  .container-menu .card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }
  .container-menu .card .column-left {
    width: 100%;
    order: 1;
  }
  .container-menu .card .column-right {
    width: 100%;
    order: 2;
  }
  .container-menu .card .column-left .card {
    display: flex;
    flex-direction: row;
  }
  .container-menu .card .column-left .card .card-head {
    text-align: center;
    background: linear-gradient(90deg, #06b4fc 0%, #1296f4 100%);
    color: white;
    padding: 10px 0;
    border-radius: 10px 0 0 10px;
  }
  .container-menu .card .column-left .card .card-head h2 {
    font-size: 18px;
    padding: 7px 10px;
  }
  .container-menu .card .column-left .card .card-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    border: 2px solid #3245e1;
    border-radius: 0 10px 10px 0;
    height: auto;
    justify-content: space-around;
  }
  .container-menu .card .column-left .card .card-body a {
    text-decoration: none;
    color: #0ca6f9;
    font-weight: 900;
    font-size: 10px;
  }
  .container-menu .card .column-right .card {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .container-menu .card .column-right .card .card-head h2 {
    font-size: 25px;
  }
  .container-menu .card .column-right .card .card-body form button {
    padding: 10px 13px;
    align-self: flex-end;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #1bbea1;
    color: white;
    transition: all 0.5s;
    border: none;
    font-size: 10px;
  }
}
@media screen and (max-width: 380px) {
  .container-menu .card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }
  .container-menu .card .column-left {
    width: 100%;
    order: 1;
  }
  .container-menu .card .column-right {
    width: 100%;
    order: 2;
  }
  .container-menu .card .column-left .card {
    display: flex;
    flex-direction: row;
  }
  .container-menu .card .column-left .card .card-head {
    text-align: center;
    background: linear-gradient(90deg, #06b4fc 0%, #1296f4 100%);
    color: white;
    padding: 10px 0;
    border-radius: 10px 0 0 10px;
  }
  .container-menu .card .column-left .card .card-head h2 {
    font-size: 13px;
    padding: 3px 10px;
  }
  .container-menu .card .column-left .card .card-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    border: 2px solid #3245e1;
    border-radius: 0 10px 10px 0;
    height: auto;
    justify-content: space-around;
  }
  .container-menu .card .column-left .card .card-body a {
    text-decoration: none;
    color: #0ca6f9;
    font-weight: 400;
    font-size: 10px;
  }
  .container-menu .card .column-right .card {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .container-menu .card .column-right .card .card-head h2 {
    font-size: 25px;
  }
  .container-menu .card .column-right .card .card-body form button {
    padding: 10px 13px;
    align-self: flex-end;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #1bbea1;
    color: white;
    transition: all 0.5s;
    border: none;
    font-size: 10px;
  }
}
